[{{ unit_name }}](out.sample)
defaultuser = {{ trunk_user }}
fromuser    = {{ trunk_user }}
secret      = {{ trunk_password }}
host        = {{ trunk_host }}
fromdomain  = {{ trunk_host }}
nat         = force_rport,comedia
